@import '../../../theming/config';

.heading {
    font-family: $font-family-primary;
    margin: 0;
    color: darken($color-grey, 20);

    &--h1 {
        font-size: $font-size-h1;
    }

    &--h2 {
        font-size: $font-size-h2;
    }

    &--h3 {
        font-size: $font-size-h3;
    }

    &--h4 {
        font-size: $font-size-h4;
    }
}
